# https://pnpm.io/npmrc#public-hoist-pattern

public-hoist-pattern[]="typescript"
# public-hoist-pattern[]="@types/*"
public-hoist-pattern[]="*eslint*"
public-hoist-pattern[]="@prettier/plugin-*"
public-hoist-pattern[]="*prettier-plugin-*"
public-hoist-pattern[]="prettier"


# legacy-peer-deps=true
# auto-install-peers=true
# node-linker=hoisted