// allow users to override these:

:root {
  --mb-system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  --mb-monospace-font-stack: Menlo, Consolas, "Ubuntu Mono", "Roboto Mono",
    "DejaVu Sans Mono", monospace;

  --mb-ui-font: var(--mb-system-font-stack);

  --mb-color-cobalt-1: #0062f2;
  --mb-color-cobalt-2: #3a89fd;
  --mb-color-cobalt-3: #6fa9ff;
  --mb-color-cobalt-4: #e7f0ff;
  --mb-color-white: #fff;
  --mb-color-black: #000;
  --mb-color-darkblue: #142641;

  --mb-color-primary: var(--mb-color-cobalt-1);
  --mb-color-primary-light: var(--mb-color-cobalt-2);
  --mb-color-primary-lighter: var(--mb-color-cobalt-3);
  --mb-color-primary-lightest: var(--mb-color-cobalt-4);

  --mb-gray-100: #f3f4f6;
  --mb-gray-400: #9ca3af;
  --mb-gray-600: #4b5563;
  --mb-gray-700: #374151;
  --mb-gray-overlay-bg: #282c34;
  --mb-dot-inactive: #c6c6c8;

  --mb-feedback-bg: rgba(102, 102, 102, 0.5);
  --mb-reticle-ok: rgba(102, 102, 102, 0.5);
  --mb-reticle-error: rgba(251, 113, 133, 0.6);

  --mb-camera-picker-bg: rgba(102, 102, 102, 0.5);
}

.mb-style-scope {
  font-family: var(--mb-ui-font);
  line-height: 1.15;
  isolation: isolate;
  box-sizing: border-box;
}

// `:where` selector has 0 specificity https://github.com/mayank99/reset.css

// Styles we want to reuse for our components, including portaled ones
// Using this selector as a :host until we figure out customization via shadow dom

:where(.mb-style-scope *, .mb-style-scope *::before, .mb-style-scope *::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(.mb-style-scope *:focus) {
  outline: none;
}

:where(.mb-style-scope :focus-visible) {
  outline: none;
  // TODO: handle scope
  // outline: 5px auto Highlight;
  // outline: 5px auto -webkit-focus-ring-color;
}

:where(.mb-style-scope code) {
  font-family: var(--mb-monospace-font-stack);
}

:where(.mb-style-scope pre) {
  font-family: var(--mb-monospace-font-stack);
}

:where(.mb-style-scope svg) {
  path {
    // fill: currentColor;
    pointer-events: none;
  }
}

:where(
    .mb-style-scope img,
    .mb-style-scope picture,
    .mb-style-scope video,
    .mb-style-scope canvas,
    .mb-style-scope svg
  ) {
  display: block;
  max-width: 100%;
}

:where(.mb-style-scope img) {
  pointer-events: none;
  user-select: none;
}

:where(
    .mb-style-scope input,
    .mb-style-scope button,
    .mb-style-scope textarea,
    .mb-style-scope select
  ) {
  font: inherit;
}

:where(.mb-style-scope button, .mb-style-scope select) {
  cursor: pointer;
}

:where(
    .mb-style-scope p,
    .mb-style-scope h1,
    .mb-style-scope h2,
    .mb-style-scope h3,
    .mb-style-scope h4,
    .mb-style-scope h5,
    .mb-style-scope h6
  ) {
  overflow-wrap: break-word;
}
